html, body, ul, li, p {
  margin: 0;
  padding: 0; }

body {
  background-color: transparent;
  overflow-x: hidden;
  font-family: -apple-system;
  font-family: "-apple-system","Helvetica Neue",Roboto,"Segoe UI",sans-serif;
  line-height: 1.6;
  word-wrap: break-word;
  -webkit-touch-callout: none;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 100%; }

html {
  font-size: 20px;
  height: 100%;
  background-color: transparent; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none; }

ol, ul, li {
  list-style: none; }

a {
  text-decoration: none;
  border: none; }

img {
  border: none;
  vertical-align: middle;
  width: 100%; }

input[type=text], input[type=password], input[type=tel], input[type=radio], input[type=checkbox] {
  vertical-align: middle;
  outline: 0;
  color: #999;
  -webkit-appearance: none;
  -webkit-user-select: text; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #999; }

.layout {
  width: 100%;
  float: left; }

.h100 {
  height: 100%; }

.layout_restrict {
  width: 100%;
  height: 100%;
  max-width: 750px;
  min-width: 300px;
  margin: 0 auto; }

.fl {
  float: left; }

.fr {
  float: right; }

.web_box {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

.flex1 {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.flex-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.relative {
  position: relative; }

.absolute {
  position: absolute; }

.bgfff {
  background-color: #fff; }

.cfff {
  color: #fff; }

.c333 {
  color: #333; }

.c999 {
  color: #999; }

.cdbabfe {
  color: #dbabfe; }

.text-center {
  text-align: center; }

.bb {
  border-bottom: 1px solid #d9d9d9; }

.bt {
  border-top: 1px solid #d9d9d9; }

.mtop10 {
  margin-top: 0.26667rem; }

.mtop20 {
  margin-top: 0.53333rem; }

.mtop40 {
  margin-top: 1.06667rem; }

.p0_10 {
  padding: 0 0.26667rem; }

.p0_20 {
  padding: 0 0.53333rem; }

.p0_30 {
  padding: 0 0.8rem; }

.f14 {
  font-size: 14px; }

.f16 {
  font-size: 16px; }

.f30 {
  font-size: 0.8rem; }

.f42 {
  font-size: 1.12rem; }

.rotate {
  animation: rotate 6s linear infinite;
  -webkit-animation: rotate 6s linear infinite; }

@keyframes rotate {
  0% {
    transform: rotateZ(0deg); }
  100% {
    transform: rotateZ(360deg); } }

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotateZ(0deg); }
  100% {
    -webkit-transform: rotateZ(360deg); } }

@-webkit-keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1); }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03); }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97); }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1); }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03); }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97); }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

.bounceIn {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0); }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0); }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0); }
  to {
    -webkit-transform: none;
    transform: none; } }

@keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0); }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0); }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0); }
  to {
    -webkit-transform: none;
    transform: none; } }

.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
  -webkit-animation-duration: .8s;
  animation-duration: .8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes zoomOut {
  from {
    opacity: 1; }
  50% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  to {
    opacity: 0; } }

@keyframes zoomOut {
  from {
    opacity: 1; }
  50% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  to {
    opacity: 0; } }

.zoomOut {
  -webkit-animation-name: zoomOut;
  animation-name: zoomOut;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

#z_index10 {
  z-index: 10; }

#z_index11 {
  z-index: 11; }

#z_index12 {
  z-index: 12; }

#z_index13 {
  z-index: 13; }

#z_index14 {
  z-index: 14; }

.z_main {
  width: 100%;
  height: 100%;
  background-image: url(../img/main.jpg);
  background-size: cover;
  background-position: center; }

.z_title {
  margin-top: 1.6rem;
  display: none; }

.z_six {
  width: 1.25333rem;
  height: 1.25333rem;
  left: 0;
  top: 1.86667rem; }

.card_body {
  opacity: 0;
  -webkit-opacity: 0; }

.card_item {
  width: 2.72rem;
  height: 3.94667rem;
  left: 3.78667rem;
  top: 8rem; }

.card_box {
  width: 100%;
  height: 100%; }

.card_forward {
  width: 2.72rem;
  height: 3.94667rem;
  background-image: url(../img/card_bg.png);
  background-size: 100%; }
  .card_forward > img {
    vertical-align: top;
    height: 0.45333rem;
    margin-top: 1.73333rem; }

.card_star {
  width: 2.72rem;
  height: 3.94667rem;
  left: 0;
  top: 0; }
  .card_star > img {
    width: 2.72rem;
    height: 3.94667rem; }

.card_back {
  width: 100%;
  height: 100%;
  background-image: url(../img/topic_bg.png);
  background-size: 100% 100%; }

.z_start {
  width: 2.98667rem;
  height: 0.77333rem;
  left: 50%;
  margin-left: -1.49333rem;
  bottom: 0.53333rem;
  opacity: 0;
  -webkit-opacity: 0; }

.animated {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.flip {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateX(0);
  backface-visibility: hidden;
  transform: translateX(0); }

@-webkit-keyframes flipouttoleft {
  from {
    -webkit-transform: rotateY(0); }
  to {
    -webkit-transform: rotateY(-90deg); } }

@keyframes flipouttoleft {
  from {
    transform: rotateY(0); }
  to {
    transform: rotateY(-90deg); } }

@-webkit-keyframes flipintoright {
  from {
    -webkit-transform: rotateY(90deg); }
  to {
    -webkit-transform: rotateY(0); } }

@keyframes flipintoright {
  from {
    transform: rotateY(90deg); }
  to {
    transform: rotateY(0); } }

.flip.out {
  -webkit-transform: rotateY(-90deg);
  -webkit-animation-name: flipouttoleft;
  -webkit-animation-duration: 500ms;
  transform: rotateY(-90deg);
  animation-name: flipouttoleft;
  animation-duration: 500ms; }

.flip.in {
  -webkit-animation-name: flipintoright;
  -webkit-animation-duration: 500ms;
  animation-name: flipintoright;
  animation-duration: 500ms; }

@-webkit-keyframes flash {
  0%, 50%, 100% {
    opacity: 1; }
  25%, 75% {
    opacity: 0; } }

@keyframes flash {
  0%, 50%, 100% {
    opacity: 1; }
  25%, 75% {
    opacity: 0; } }

.flash {
  animation: flash 3s linear 0s infinite;
  -webkit-animation: flash 3s linear 0s infinite; }

.z_skip {
  width: 1.25333rem;
  height: 0.53333rem;
  right: 0.66667rem;
  bottom: 0.53333rem;
  opacity: 0;
  -webkit-opacity: 0;
  z-index: 7; }

.card_sm_list {
  width: 100%;
  height: 1.28rem;
  left: 0;
  bottom: 0.8rem;
  display: none; }
  .card_sm_list ul li {
    width: 0.93333rem;
    height: 1.28rem; }
    .card_sm_list ul li img {
      height: 1.28rem; }
    .card_sm_list ul li .flip {
      width: 100%; }
  .card_sm_list ul li + li {
    margin-left: 0.26667rem; }

@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft; }

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight; }

@-webkit-keyframes slideOutRight {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); } }

@keyframes slideOutRight {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); } }

.slideOutRight {
  -webkit-animation-name: slideOutRight;
  animation-name: slideOutRight; }

.answer_title {
  font-size: 0.69333rem; }

.options_line {
  width: 100%;
  height: 0.8rem;
  left: 0;
  bottom: 3.06667rem;
  padding: 0 0.66667rem; }
  .options_line .z_option .z_text {
    font-size: 0.42667rem;
    width: 2.18667rem;
    height: 0.8rem;
    line-height: 0.85333rem;
    margin: 0 auto;
    background-size: 100% 100%; }
  .options_line .z_option .z_light {
    width: 2.26667rem;
    height: 0.32rem;
    bottom: 0.08rem;
    left: 50%;
    margin-left: -1.14667rem; }
  .options_line .on .z_text {
    background-image: url(../img/answer_select_bg.png); }
  .options_line .on .z_light {
    display: none; }

.options_four {
  width: 100%; }
  .options_four .z_cow {
    width: 100%;
    height: 0.8rem;
    left: 0;
    padding: 0 0.66667rem; }
    .options_four .z_cow .z_option .z_text {
      font-size: 0.42667rem;
      width: 2.18667rem;
      height: 0.8rem;
      line-height: 0.85333rem;
      margin: 0 auto;
      background-size: 100% 100%; }
    .options_four .z_cow .z_option .z_light {
      width: 2.26667rem;
      height: 0.32rem;
      bottom: 0.08rem;
      left: 50%;
      margin-left: -1.14667rem; }
    .options_four .z_cow .on .z_text {
      background-image: url(../img/answer_select_bg.png); }
    .options_four .z_cow .on .z_light {
      display: none; }
  .options_four .z_cow:nth-child(1) {
    bottom: 3.6rem; }
  .options_four .z_cow:nth-child(2) {
    bottom: 2.4rem; }

.options_five .z_ab01 {
  width: 2.18667rem;
  height: 0.8rem;
  left: 50%;
  margin-left: -1.09333rem;
  top: 3.73333rem; }

.options_five .z_ab02 {
  width: 2.18667rem;
  height: 0.8rem;
  left: 1.06667rem;
  top: 4.8rem; }

.options_five .z_ab03 {
  width: 2.18667rem;
  height: 0.8rem;
  right: 1.06667rem;
  top: 5.33333rem; }

.options_five .z_ab04 {
  width: 2.18667rem;
  height: 0.8rem;
  left: 1.6rem;
  bottom: 2.93333rem; }

.options_five .z_ab05 {
  width: 2.18667rem;
  height: 0.8rem;
  right: 1.6rem;
  bottom: 2.4rem; }

.options_five .z_option {
  width: 2.18667rem;
  height: 0.8rem; }
  .options_five .z_option .z_text {
    font-size: 0.42667rem;
    width: 2.18667rem;
    height: 0.8rem;
    line-height: 0.85333rem;
    background-size: 100% 100%; }
  .options_five .z_option .z_light {
    width: 2.26667rem;
    height: 0.32rem;
    bottom: 0.08rem;
    left: 50%;
    margin-left: -1.14667rem; }

.options_five .on .z_text {
  background-image: url(../img/answer_select_bg.png); }

.options_five .on .z_light {
  display: none; }

.answer_img_five {
  margin-top: 2.88rem; }

.options_six .z_ab01 {
  width: 2.18667rem;
  height: 0.8rem;
  left: 50%;
  margin-left: -1.09333rem;
  top: 3.2rem; }

.options_six .z_ab02 {
  width: 2.18667rem;
  height: 0.8rem;
  left: 1.06667rem;
  top: 4.8rem; }

.options_six .z_ab03 {
  width: 2.18667rem;
  height: 0.8rem;
  right: 1.06667rem;
  top: 5.33333rem; }

.options_six .z_ab04 {
  width: 2.18667rem;
  height: 0.8rem;
  left: 1.6rem;
  bottom: 4.26667rem; }

.options_six .z_ab05 {
  width: 2.18667rem;
  height: 0.8rem;
  right: 1.6rem;
  bottom: 3.73333rem; }

.options_six .z_ab06 {
  width: 2.18667rem;
  height: 0.8rem;
  left: 50%;
  margin-left: -1.09333rem;
  bottom: 2.66667rem; }

.options_six .z_option {
  width: 2.18667rem;
  height: 0.8rem; }
  .options_six .z_option .z_text {
    font-size: 0.42667rem;
    width: 2.18667rem;
    height: 0.8rem;
    line-height: 0.85333rem;
    background-size: 100% 100%; }
  .options_six .z_option .z_light {
    width: 2.26667rem;
    height: 0.32rem;
    bottom: 0.08rem;
    left: 50%;
    margin-left: -1.14667rem; }

.options_six .on .z_text {
  background-image: url(../img/answer_select_bg.png); }

.options_six .on .z_light {
  display: none; }

.answer_img_six {
  margin-top: 2.8rem; }

.z_option {
  z-index: 99; }

.answer_btn {
  width: 2.72rem;
  height: 0.93333rem;
  line-height: 0.98667rem;
  background-image: url(../img/next_bg.png);
  background-size: 100% 100%;
  bottom: 0.93333rem;
  left: 50%;
  margin-left: -1.36rem;
  font-size: 0.37333rem;
  color: #fff;
  text-align: center; }

.answer_btn_final {
  width: 2.72rem;
  height: 0.93333rem;
  line-height: 0.98667rem;
  background-image: url(../img/next_final_bg.png);
  background-size: 100% 100%;
  bottom: 0.93333rem;
  left: 50%;
  margin-left: -1.36rem;
  font-size: 0.37333rem;
  color: #fff;
  text-align: center; }

.answer_multiple {
  width: 100%;
  font-size: 0.32rem;
  color: #fff;
  left: 0;
  bottom: 0.13333rem; }

.z_modal {
  width: 4.26667rem;
  height: 1.33333rem;
  line-height: 1.33333rem;
  left: 50%;
  top: 50%;
  margin-left: -2.13333rem;
  margin-top: -0.66667rem;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 0.53333rem;
  font-size: 0.42667rem;
  z-index: 999;
  opacity: 0;
  -webkit-opacity: 0; }

.femaleHide, .manHide, .hide {
  display: none; }

.z_success {
  display: none;
  opacity: 0;
  -webkit-opacity: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999; }
  .z_success .z_img {
    margin-top: 2.66667rem; }
  .z_success .z_title1 {
    font-size: 0.48rem; }
  .z_success .z_title2 {
    font-size: 0.53333rem; }
  .z_success .z_btn {
    height: 1.17333rem; }
    .z_success .z_btn button {
      display: block;
      width: 6.72rem;
      height: 1.17333rem;
      margin: 0 auto;
      background-color: transparent;
      padding: 0 !important;
      font-size: 0.53333rem;
      border-radius: 0.16rem;
      color: #416be5; }

.z_success .z_btn button {
  border: 2px solid #416be5; }

[data-dpr="2"] .z_success .z_btn button {
  border: 2px solid #416be5; }

[data-dpr="3"] .z_success .z_btn button {
  border: 4px solid #416be5; }
